{
  "type":"ManageIQ::Providers::Amazon::CloudManager",
  "name":"Amazon {{ ec2_region }}",
  "provider_region": "{{ ec2_region }}",
  "credentials" : {
    "userid"    : "{{ ec2_access }}",
    "password"  : "{{ ec2_secret }}"
  }
}
